@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    height: 550vh;
    background-image: linear-gradient(160deg, rgb(67, 164, 255), rgb(77, 116, 255), rgb(140, 0, 255));
    overflow-x: hidden;
}

#bg-image{
    position: absolute;
    top: -450px;
    left: 0;
    width: 1280px;
    height: auto;
}

#heading-name{
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    color: darkslategrey;
    line-height: 70px;
    position: relative;
    float: right;
    right: 120px;
    top: 20px;
    width: 30%;
    text-shadow: 2px 2px 5px slategrey;
}

#heading-name:hover{
    color: white;
}

#heading-intro{
    font-size: 50px;
    font-family: 'Tilt Neon', cursive;
    color: white;
    position: absolute;
    margin: 0;
    right: 250px;
    top: 230px;
    width: 20%;
    overflow-wrap: break-word;
    height: auto;
    text-shadow: 2px 2px 5px slategrey;
}

#heading-intro:hover{
    color: darkslategrey;
}

#contact-bar{
    position: fixed;
    float: right;
    top: 50px;
    right: -60px;
    height: 150px;
    width: 100px;
    text-align: left;
    font-family: 'Roboto', serif;
    padding-left: 12px;
    color: white;
    background-color: rgb(41, 41, 41);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    transition: right 0.3s ease-out;
}

#contact-bar a i{
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

#contact-bar:hover{
    background-color: darkslategrey;
    right: -40px;
}

#flex-container{
    display: flex;
    flex-direction: column;
}

#hover-icon-1:hover{
    font-size: 30px;
}

/*Technologies*/
#technologies{
    position: absolute;
    top: 150%;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

#technologies img{
    height: 100px;
    width: 100px;
}

.logo-hidden{
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%);
    transition: all 1s;
}

.logo-show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
}

.technology-logo:nth-child(2){
    transition-delay: 200ms;
}

.technology-logo:nth-child(3){
    transition-delay: 400ms;
}

.technology-logo:nth-child(4){
    transition-delay: 600ms;
}

.technology-logo:nth-child(5){
    transition-delay: 800ms;
}

/*Short Intro*/
#short-intro{
    position: absolute;
    top: 175%;
    left: 22.5%;
    height: 65%;
    width: 55%;
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 242, 255);
    border-radius: 25px;
}

.img-order-1{
    position: absolute;
    height: 350px;
    width: auto;
    border-radius: 1rem;
    top: 2%;
    left: 2%;
    z-index: 1;

    transition: 0.5s;
}

.img-order-2{
    position: absolute;
    height: 150px;
    width: auto;
    border-radius: 5px;
    top: 56%;
    left: 25%;
    z-index: 2;

    transition: 0.5s;
}

.img-order-3{
    position: absolute;
    height: 50px;
    width: auto;
    border-radius: 2px;
    top: 83%;
    left: 38%;
    z-index: 3;

    transition: 0.5s;
}

.img-order-4{
    position: absolute;
    height: 20px;
    width: auto;
    border-radius: 2px;
    top: 91%;
    left: 42%;
    z-index: 4;

    transition: none;
}



#short-text{
    padding-left: 20rem;
}

#short-text p{
    font-size: large;
}

/*past projects*/

.project-hidden-left{
    opacity: 0;
    filter: blur(8px);
    transform: translateX(-100%);
    height: 180px;
    width: auto;
    filter: grayscale();
    transition: transform 1s ease, height 0.3s ease-in, filter 0.3s ease-out;
}

.project-hidden-right{
    opacity: 0;
    filter: blur(8px);
    transform: translateX(100%);
    height: 180px;
    width: auto;
    filter: grayscale();
    transition: transform 1s ease, height 0.3s ease-in, filter 0.3s ease-out;
}

.project-hidden-left:hover{
    height: 200px;
    width: auto;
    filter: none;
}

.project-hidden-right:hover{
    height: 200px;
    width: auto;
    filter: none;
}


.project-show{
    opacity: 1;
    filter: blur(0px);
    filter: grayscale();
    transform: translateX(0%);
}
