@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    height: 500%;
    background-image: linear-gradient(to right, rgb(215, 219, 255), rgb(77, 116, 255));
    overflow-x: hidden;
}

#bg-image{
    position: absolute;
    top: -450px;
    left: 0;
    width: 1280px;
    height: auto;
}

#heading-name{
    font-size: 64px;
    font-family: 'Anton', sans-serif;
    color: darkslategrey;
    line-height: 70px;
    position: relative;
    float: right;
    right: 120px;
    top: -20px;
    width: 30%;
    text-shadow: 2px 2px 5px slategrey;
}

#heading-name:hover{
    color: white;
}

#heading-intro{
    font-size: 50px;
    font-family: 'Tilt Neon', cursive;
    color: white;
    position: absolute;
    margin: 0;
    right: 250px;
    top: 250px;
    width: 20%;
    text-shadow: 2px 2px 5px slategrey;
}

#heading-intro:hover{
    color: darkslategrey;
}

#contact-bar{
    position: fixed;
    float: right;
    top: 50px;
    right: -70px;
    height: 150px;
    width: 100px;
    text-align: left;
    font-family: 'Roboto', serif;
    padding-left: 12px;
    color: white;
    background-color: rgb(41, 41, 41);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#contact-bar a i{
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

#contact-bar:hover{
    background-color: darkslategrey;
    right: -40px;
}

#flex-container{
    display: flex;
    flex-direction: column;
}

.rotated-text{
    position: relative;
    top: -90px;
    transform: rotate(-90deg);
}

#hover-icon-1:hover{
    font-size: 30px;
}

/*Technologies*/
#technologies{
    position: absolute;
    top: 150%;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100%;
}

#technologies img{
    height: 100px;
    width: 100px;
}

/*Short Intro*/
#short-intro{
    position: absolute;
    top: 175%;
    left: 22.5%;
    height: auto;
    width: 55%;
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 242, 255);
    border-radius: 25px;
}

#picture-stacks img{
    position: absolute;
    height: 350px;
    width: auto;
    border-radius: 1rem;
    transform: rotate(-5deg);
}

#short-text{
    padding-left: 20rem;
}

#short-text p{
    font-size: large;
}
